:root {
    /* dark mode */
    --darkElements: hsl(209, 23%, 22%);
    --darkBg: hsl(207, 26%, 17%);
    /* light mode */
    --lightText: hsl(200, 15%, 8%);
    --lightInput: hsl(0, 0%, 52%);
    --lightBg:  hsl(0, 0%, 98%);
    /* dark mode text & light mode elements */
    --white: hsl(0, 0%, 100%);
}

/* light mode */

.flag {
    margin: 0 0 40px 0;
    padding: 0;
    background-color: var(--white);
    width: 320px;
}


/* dark mode */

.flag[data-theme="dark"] {
    background-color: var(--darkElements);
}