@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* dark mode */
    --darkElements: hsl(209, 23%, 22%);
    --darkBg: hsl(207, 26%, 17%);
    /* light mode */
    --lightText: hsl(200, 15%, 8%);
    --lightInput: hsl(0, 0%, 52%);
    --lightBg:  hsl(0, 0%, 98%);
    /* dark mode text & light mode elements */
    --white: hsl(0, 0%, 100%);
}

* {
    font-family: 'Nunito Sans', sans-serif;
}

html {
    overscroll-behavior: contain;
}

.App{
    background-color: var(--lightBg);
    contain: paint;
}

.App[data-theme="dark"] {
    background-color: var(--darkBg);
}

.body-container {
    /* background-color: var(--lightBg); */
    /* height: 100vh; */
    margin: 40px 20px 0 20px;
}

/* .App[data-theme="dark"] {
    /* background-color: var(--darkBg); 
} */



