:root {
    /* dark mode */
    --darkElements: hsl(209, 23%, 22%);
    --darkBg: hsl(207, 26%, 17%);
    /* light mode */
    --lightText: hsl(200, 15%, 8%);
    --lightInput: hsl(0, 0%, 52%);
    --lightBg:  hsl(0, 0%, 98%);
    /* dark mode text & light mode elements */
    --white: hsl(0, 0%, 100%);
}

.input-container {
    /* change this later to match */
    margin: 0 5% 0 5%;
    background-color: var(--lightBg);
}

.input-group-text {
    background-color: var(--lightBg);
    border: 0;
    height: 50px;
}

.form-control {
    border: 0;
    height: 40px;
    width: 100%;
    background-color: var(--lightBg);
}

.form-control::placeholder {
    color: var(--lightInput);
    opacity: 1;
}

.form-control:focus {
    box-shadow: none !important;
    background-color: var(--lightBg);
}

.icon-tabler {
    margin: 0;
    padding: 0;
}

/* dark mode */

.input-container[data-theme="dark"] {
    background-color: var(--darkElements);
}

.input-group-text[data-theme="dark"] {
    background-color: var(--darkElements);
}

.form-control[data-theme="dark"] {
    background-color: var(--darkElements);
    color: var(--white);
}

.form-control[data-theme="dark"]::placeholder {
    color: var(--white);
    opacity: .8;
}

.icon-tabler-search[data-theme="dark"] {
    stroke: var(--white);
    fill: var(--darkElements);
}
